/node_modules
/public/hot
/public/storage
/public/admin/email

#System Cache
/storage/*.key

#Composer
vendor

#Vagrant
*.vagrant
Homestead.json
Homestead.yaml

#Web
npm-debug.log
yarn-error.log

#Config
.env

#PHPSTORM:
*.idea
*.orig

#mac
.DS_Store

#ide-helper
_ide_helper.php
_ide_helper_models.php

#local valet tool
LocalValetDriver.php

public/assets
resources/web-views
web-assets-map
public/web-assets
site.json
xhprof-2.2.2